/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Heebo', sans-serif;
  direction: rtl;
  background-color: #0E0E0E;
  color: #EAEAEA;
  scroll-behavior: smooth;
}